# Maven / Build
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDEs

## IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

## Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

## VS Code
.vscode/

# Environment / Secrets
.env
application.properties
application-*.properties